# terraform/terragrunt caches
.terraform
.terragrunt-cache

# collie generated docs
.docs
.docs-v2

# collie cache
.collie/hub
**.collie.json
**.meta.json

# generated config.tf files for building blocks
config.tf
*.tfvars
